body{
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
    ;
  }
  
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar h1 {
    float: left;
    color: white;
    background-color: aqua;
    display: absolute;
    max-width: 240px;
    text-align: left;
    box-sizing: border-box;
  }
  
  .banner img{
    width: 100%;
    height: 250px;
  }

  .about-me {
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
  }

  .about-me h1 {
    font-size: 300%;
    position: absolute;
    top: -20px;
    left: -220px;
  }
    .about-me p {
    padding-left: 10px;
    padding-right: 160px;
    border-left: 5px solid black;
    
  }

  .Work {
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
  }

  .Work h1 {
    font-size: 300%;
    position: absolute;
    top: -20px;
    left: -220px;
  }

  .cards {
    padding-left: 10px;
    padding-right: 80px;
    border-left: 5px solid black;
    font-size: 20px;
    align-items: center;
}


.Big-Card {
    position: relative;
    display: inline-block;
    border: 5px solid aqua;
    cursor: pointer;
    width: 200%;
 
}

.Big-Card h3{
 background-color: aqua;
 max-width: 125px;
 position: absolute;
 bottom: 5px;
}

.Big-Card img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .Big-Card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    opacity: .3; /* Show the pseudo-element by default */
    transition: opacity 0.3s ease-in-out;
  }
  
  .Big-Card:hover::before {
    opacity: 0; /* Hide the pseudo-element on hover */
  }